html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

header {
  margin: 1em;
  padding-top: 1ex;
  text-align: center;
}

header h1 {
  font-size: 250%;
}

header h2 {
  font-size: 175%;
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
}

section.stream {
  min-height: 30%;
}

section.stream.software {
  background-color: MediumTurquoise;
}

section.stream.music {
  background-color: CornflowerBlue;
}

section.stream.writing {
  background-color: Plum;
}

section.stream h1 {
  font-size: 200%;
  margin-top: 0;
  margin-left: 1em;
  padding-top: 1ex;
}

section.stream p {
  width: 80%;
  margin-left: 4em;
  margin-right: 1em;
}

section.stream a {
  display: block;
  text-align: right;
  padding-right: 1em;
  padding-bottom: 1ex;
}

footer {
  text-align: center;
}

footer p {
  font-size: 80%;
}
