html {
  font-family: sans-serif;
}

div.case {
  height: 25em;
}
div.bin {
  display: inline-block;
  vertical-align: top;
  border: 2px solid black;
  height: 100%;
  width: 8em;
  text-align: center;
}
div.bin h1 {
  font-size: 150%;
}
div.bin h1 span {
  font-size: 80%;
  display: block;
}
ul.bin-contents {
  list-style: none;
  padding-left: 0;
}
span.produce {
  font-size: 300%;
}

div.cart {
  border: 4px solid black;
  min-height: 6em;
  max-width: 30em;
  padding: 1ex;
}

button {
  font-size: 110%;
  padding: 1ex;
  margin: 1ex;
}
p.total {
  font-size: 200%;
  font-weight: bold;
}
