body {
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
}

div.chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: 80vh;
  border: 2px solid black;
  background-color: lightGray;
  padding: 1ex;
}

div.conversation {
  height: 85%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

}

div.messageScroll {
}

div.messageToComputer {
  border: 1px solid black;
  background-color: lightBlue;
  border-radius: 2ex 2ex 2ex 0;
  width: 60%;
  margin-bottom: 1ex;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

div.messageFromComputer {
  border: 1px solid black;
  background-color: lightYellow;
  border-radius: 2ex 2ex 0 2ex;
  width: 60%;
  margin-bottom: 1ex;
}

p.chatText {
  margin: 5%;
}

p.chatTime {
  margin: 5%;
  font-size: 40%;
}

form.messageInputForm {
  border: 1px solid black;
  padding: 1ex;
  background-color: skyBlue;
  height: 3em;
}

form.messageInputForm input {
  width: 80%;
  margin-top: 1ex;
  margin-right: 0.25ex;
}

form.messageInputForm label {
  font-size: 80%;
  font-style: italic;
}
