@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&display=swap');

:root {
  --roman-font: "IM Fell English", "EB Garamond", "Goudy Old Style", Georgia, serif;
  --heading-font: "IM Fell English SC", "IM Fell English", "EB Garamond", "Goudy Old Style", Georgia, serif;
  --card-height: 14em; /* h:w = 6:5 */
  --card-width: 10em;
}

html {
  height: 100%;
  background: linear-gradient(30deg,   NavajoWhite,  transparent),
              linear-gradient(-120deg, AntiqueWhite, transparent),
              linear-gradient(50deg,   Linen,        transparent),
              linear-gradient(-80deg,  BurlyWood,    transparent);
}

body {
  font-family: var(--roman-font);
  text-align: center;
  margin: 0;
}

header {
  margin-bottom: 2em;
}

header h1, div.card span.date, footer h1 {
  font-family: var(--heading-font);
}

p.instructions {
  font-style: italic;
  font-size: 110%;
}

.hide {
  visibility: hidden;
  height: 0;
  width: 0;
}

.show {
  visibility: visible;
}

form button {
  margin: 1em;
}

div.card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  min-width: calc(.5 * var(--card-width));
  padding: 1ex;
  margin: 1ex;
  border-radius: 1ex;
  text-align: center;
  border: 1pt solid black;
  background-color: LightGray;
  overflow: scroll;
}

div.card span.date {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1ex;
  font-family: var(--heading-font);
}

div.card span.fact {
}

div.clue {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  height: calc(var(--card-height) + 3em);
}

div.clue div.card {
  background-color: WhiteSmoke;
  margin-left: -1px;
}

div.clue div.card[data-alert] {
  background-color: Crimson;
}

div.clue div.cardStub {
  border: 1px solid black;
  border-right: 0;
  border-radius: 1ex 0 0 1ex;
  height: var(--card-height);
  width: 1em;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-right: -1ex;
  padding-right: 0;
  background-color: LightGray;
}

div.timelineBar {
  position: relative;
  overflow: scroll;
}

div.timelineBar hr {
  position: absolute;
  top: 6em;
  left: 0;
  right: 0;
  z-index: -1;
  height: 1ex;
  border: 0;
  background: linear-gradient(to right, Black, LightGray);
}

div.timeline {
  display: flex;
  flex-direction: row;
  width: calc(100% + 20px); /* TODO fix */
}

@media (min-width: 600px) {
  div.timeline {
    width: 100%;
    justify-content: center;
  }
}

footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
}

footer h1 span.score {
  margin-left: 1em;
}

button, option {
  font-family: var(--main-font);
  font-size: 100%;
}

div.gameover {
  font-size: 240%;
  font-style: italic;
  color: Crimson;
}

div.gameover p {
  margin: 1ex;
}


