@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&display=swap');

html {
  font-family: "IM Fell English";
  font-size: 120%;
  text-align: center;
  height: 100%;
  background: linear-gradient(30deg, AntiqueWhite, transparent),
              linear-gradient(-120deg, Linen, transparent);
}

header {
  margin-bottom: 2em;
}

header h1, div.card span.date, footer h1 {
  font-family: "IM Fell English SC";
}

p.instructions {
  font-style: italic;
}

div.card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 130px;
  padding: 1ex;
  margin: 1ex;
  border-radius: 10px;
  text-align: center;
  border: 1pt solid black;
  background-color: LightGray;
}

div.card span.date {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1ex;
  font-family: "IM Fell English SC";
}


div.clue {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  height: 250px;
}

div.clue div.card {
  background-color: WhiteSmoke;
  margin-left: -1px;
}

div.clue div.cardStub {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  height: 200px;
  width: 20px;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-right: -10px;
  padding-right: 0;
  background-color: LightGray;
}

div.timelineBar {
  position: relative;
  overflow: scroll;
}

div.timelineBar hr {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 5px;
  border: 0;
  background: linear-gradient(to right, Black, LightGray);
}

div.timeline {
  display: flex;
  flex-direction: row;
  width: calc(100% + 20px);
}

@media (min-width: 600px) {
  div.timeline {
    width: 100%;
    justify-content: center;
  }
}

footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
}

footer h1 span.score {
  margin-left: 1em;
}

footer button.restart {
  font-family: "IM Fell English";
  font-size: 100%;
}

div.gameover {
  font-size: 240%;
  font-style: italic;
  color: red;
}

div.gameover p {
  margin: 1ex;
}


