/* CSS by Andrew A. Cashner, 2014
 * REVISION
 * The author reserves no rights for this document 
 * and hereby releases it into the public domain.
 *
 * Style provides a left panel spanning entire height, 
 * suitable for a background image;
 * a right panel with a header at top and main body at 
 * bottom, with footer space at bottom.
 */

body {
		font-family: MyBiolinum, "Linux Biolinum", Optima, sans-serif;
		font-size: 18px;
		color: white;
		background-color: blue;
		margin: 0;
		overflow: auto;
}
h1 { 
		font-family: MyLibertineDisplay, "Linux Libertine Display", "Linux Libertine", "Goudy Old Style", "Garamond", serif; 
		font-weight: normal;
}
h2 {
		font-family: MyLibertine, "Linux Libertine", "Goudy Old Style", "Garamond", serif; 
		font-weight: normal;
		font-style: italic;
}
a { 
		color: #1589FF;
		text-decoration: none;
}

#content {
	position: relative;
	min-height: 600px;
	min-width: 900px; 
	overflow: auto;
} 

#left_panel {
	position: relative; 
	float: left;
	display: block;
	width: 20%;
	min-width: 180px;
	overflow: hidden; 
	background-color: white;
}
#left_panel img {
	position: relative;
	float: right;
	height: 100%;
	width: auto;
}

#right_panel {
	position: relative;
	float: right;
	display: block;
	width: 80%;
	min-width: 720px;
	background-color: #333333;
}

header {
	position: relative;
	height: 150px;
	padding-left: 3em;
	padding-right: 3em;
	overflow: hidden;
	background-color: black; 
}
header h1 {
	position: relative;
	float: left;
	font-size: 250%;
}
header h2 {
	position: relative;
	float: right;
	text-align: right;
	font-size: 175%;
}
header nav {
	clear: left;
	display: table;
	font-size: 110%;
}
header nav ul {
	display: table-row;
}
header nav li {
	display: table-cell;
	padding-right: 1em;
}
	
main {
	position: relative;
	margin-top: 3em;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}

footer {
	font-size: 75%;
	margin-top: 4em;
	margin-bottom: 2em;
	text-align: center;
}

