body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.todoList {
  border: 2px solid black;
  border-radius: 5px;
  background: #fffaa0;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.todoList h1 {
  font-size: 200%;

}

ol {
  list-style-type: "\2610";
  text-align: left;
}

ol.todoDone li span {
  color: gray;
  text-decoration: line-through;
}

ol li {
  padding-left: 1ex;
}

ol li.gapAbove {
  padding-top: 1ex;
}

ol li.done {
  list-style-type: "\2611"; 
}

ol.todo li:hover::marker {
  content: "\2195 \2610"; /* Show up-down arrow before */
}

ol.todo li.done:hover::marker {
  content: "\2195 \2611"; 
}

ol li button {
  border: none;
  background: none;
  height: 1ex;
}

ol {
  /* Leave extra space below as a target for moving items to bottom of the list */
  padding-bottom: 1.5em;
}

ol li span.todoItem {
}

ol li span.todoItem span.todoDeadline {
  padding-left: 1em;
}

.pastDue {
  color: red;
}

button {
  margin: 1ex;
  margin-bottom: 2ex;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: show;
}

.active {
}

.inactive {
  color: gray;
}

form.newItem {
  width: 30em;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background: #ccccff;
}

form.newItem div {
  width: 100%;
  margin: 1em;

}

form.newItem div label {
  width: 40%;
  display: inline-block;
}

form.newItem div input {
  width: 50%;
  display: inline-block;
}

form.newItem button {
  margin-left: 80%;
  margin-bottom: 1em;
}

p.instructions {
  font-size: 80%;
  font-style: italic;
  color: gray;
}

form.loginForm {
  outline: 2px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

form.loginForm div, form.loginForm label, form.loginForm input {
  display: block;
}

form.loginForm input {
  margin-bottom: 1em;
}

