body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.todoList {
  border: 2px solid black;
  border-radius: 5px;
  background: LightYellow;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
}

ol.todo {
  list-style-type: "\2610";
  text-align: left;
}

ol.todo li {
  padding-left: 1ex;
}

ol.todo li.gapAbove {
  padding-top: 1ex;
}

ol.todo li.done {
  list-style-type: "\2611"; 
}

ol.todo li:hover::marker {
  content: "\2195 \2610"; /* Show up-down arrow before */
}

ol.todo li.done:hover::marker {
  content: "\2195 \2611"; 
}

ol.todo  {
  /* Leave extra space below as a target for moving items to bottom of the list */
  padding-bottom: 1.5em;
}

div.todoControls button {
  margin: 1ex;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: show;
}

.active {
}

.inactive {
  color: gray;
}

form.newItem {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background: Lavender;
}

form.newItem div {
  width: 100%;
  margin: 1em;

}

form.newItem div label {
  width: 40%;
  display: inline-block;
}

form.newItem div input {
  width: 50%;
  display: inline-block;
}

form.newItem button {
  margin-left: 80%;
  margin-bottom: 1em;
}
